<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
    <a href="/students/">Students</a>
    <a th:href="@{/students/inspect/{id}(id=${student.id})}">Inspect Student</a>
    <h1>Edit Student</h1>
    <form method="POST" th:action="@{/students/edit/{id}(id=${student.id})}">
    <table>
        <tr>
            <td>ID:</td>
            <td th:text="${student.id}"></td>
        </tr>
        <tr>
            <td>Index number:</td>
            <td><input type="text" id="indexNumber" name="indexNumber" th:value="${student.indexNumber}" /></td>
        </tr>
        <tr>
            <td>First name:</td>
            <td><input type="text" id="firstName" name="firstName" th:value="${student.firstName}" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" id="lastName" name="lastName" th:value="${student.lastName}" /></td>
        </tr>
    </table>
        <input type="hidden" name="_method" value="PUT" />
        <input type="submit" value="Save Student information" />
    </form>
    <h2>Subjects</h2>
    <form method="POST" th:action="@{/students/addSubject/{id}(id=${student.id})}">
        <select name="subject">
            <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
        </select>
        <input type="submit" value="Add Subject" />
    </form>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tr th:each="subject : ${student.subjects}">
            <td th:text="${subject.id}"></td>
            <td th:text="${subject.name}"></td>
            <td>
                <form method="POST" th:action="@{/students/removeSubject/{id}/{subjectId}(id=${student.id}, subjectId=${subject.id})}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" value="Remove Subject" />
                </form>
            </td>
        </tr>
    </table>
    <form method="POST" th:action="@{/students/delete/{id}(id=${student.id})}">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Student" />
    </form>
</body>
</html>