<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
    <a href="/students/add">Dodaj studenta</a>
    <p>Lista studentow: </p>
    <tr th:each="student : ${students}">
        <td><a th:href="@{/students/edit/{id}(id=${student.id})}">Edit</a></td>
        <td th:text="${student.id}"></td>
        <td th:text="${student.indexNumber}"><a href=""></a></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
    </tr>
    <br>
</body>
</html>